.btn{
    background-color: #03042b;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #03042b;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.btn:active{
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.centered-btn-wrapper{
    display:flex;
    justify-content: center;
}